@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  list-style-type: none;
}

:root {
  --white-color: #ffffff;
  --white-color-hover: rgba(242, 242, 242, 0.2);
  --white-color-active: rgba(242, 242, 242, 0.4);
  --gray-color: #c0c0c0;
  --gray-color-secondary: #f9f9f9;
  --gray-color-secondary-hover: #beb6b6;
  --gray-color-secondary-active: #a09797;
  --blue-color: #167bf7;
  --blue-color-hover: #095dc4;
  --blue-color-active: #034799;
  --black-color: #00030c;
}

body {
  background-color: var(--black-color);
  color: var(--white-color);
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}